body, h1, h2, p, a {
    margin: 10;
    padding: 10;
}

body {
    font-family: Arial, sans-serif;
    font-size: 26pt;
    background-color: #2a2a47; 
    color: #ffffff; 
    margin: 40pt;
    transition: background-color 0.5s, color 0.5s; 
}

h1 {
    font-family: Verdana (san-serif);
    font-size: 50pt;
    color: #40ff73; 
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 36pt;
    color: #40ff73; 
    margin-top: 40px;
}

h3 {
    font-size: 26pt;
    color: #40ff73; 
    margin-top: 40px;
}

p {
    font-size: 16pt;
    color: #ffffff; 
}

ul {
    font-size: 16pt;
}

li {
    font-size: 16pt;
}

a:link, a:visited {
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
    color:#ffffff; 
}

a:active {
    color: #00fdfd; 
}

/* Table layout */
.table-container {
    display: table;
    width: 50%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10pt;
    border: 5px solid rgb(147, 191, 235); 
}

.text-column {
    width: 40%;
}

.link-column {
    width: 60%;
}

.link-column a:link, .link-column a:visited{
    color: #00fdfd; 
    text-decoration: none ;
}

.link-column a:hover {
    color: #00ff51;
}

.link-column a:active {
    color: #990000;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a, nav ul li span {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    font-size: 12pt;
    position: absolute;
    background-color: #00741f;
    border: 2px solid #ffffff;
    padding: 0;
    
}

nav ul ul li {
    display: block;
}

.menu-item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
}

.content-wrapper {
    display: flex;
    align-items: center; 
}

#myImage {
    margin-right: 20px; 
    border: 5px solid #40ff73
}

.section-box {
    background-color: #2a2a47;
    border: 5px solid #40ff73; 
    padding: 20px; 
}




