body, h1, h2, p, a {
    margin: 10;
    padding: 10;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, #0f2959 0%, #6db4c6 90% ); 
    color: #ff0000; 
    margin: 40pt; 
}

h1 {
    font-family: Verdana (san-serif);
    font-size: 50pt;
    color: #ff0000; 
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 18pt;
    color: #ff0000; 
    margin-top: 40px;
}

h3 {
    font-size: 16pt;
    color: #ff0000; 
    margin-top: 40px;
}

p {
    font-size: 14pt;
    color: #ff0000; 
}

a:link, a:visited {
    color: #fd00ba; 
    text-decoration: underline ;
}

a:hover {
    color: #fd00ba; 
}

a:active {
    color: #fd00ba; 
}

/* Table layout */
.table-container {
    display: table;
    width: 50%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10pt;
    border: 5px solid rgb(147, 191, 235); 
}

.text-column {
    width: 40%;
}

.link-column {
    width: 60%;
}

.link-column a:link, .link-column a:visited{
    color: #9400fd; 
    text-decoration: underline ;
}

.link-column a:hover {
    color: #00ff51;
}

.link-column a:active {
    color: #990000;
}

nav {
    text-align: right;
}

.nav {
    background-color: #ffffff; /* Background color of the navigation bubble */
    padding: 10px; /* Padding around the navigation items */
    border-radius: 20px; /* Rounded corners to create a bubble effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  }
  
  .nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    display: inline; /* Display the navigation items horizontally */
    margin-right: 20px; /* Spacing between navigation items */
  }
  
  .nav ul li:last-child {
    margin-right: 0; /* Remove right margin from the last navigation item */
  }
  
  .nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #ff0000; /* Text color of navigation links */
  }
  
  .nav ul li a:hover {
    color: #0d00ff; /* Text color of navigation links on hover */
  }

.menu-item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
}

.content-wrapper {
    display: flex;
    align-items: center; /* Center items vertically */
}

/* Adjust spacing between image and section */
#myImage {
    margin-right: 20px; /* Adjust margin as needed */
}

.section-box {
    background-color: #f9feff;
    border: 2px solid #ff0000; /* Border style */
    padding: 20px; /* Padding to create space between content and border */
}

label {
    color: #ff0000    
  }

